<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel Characters</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <header>
        <nav>
            <ul style="list-style: none; padding: 0; display: flex; gap: 15px;">
                <li><a href="/">Home</a></li>
                <li><a href="/ironman">Iron Man</a></li>
                <li><a href="/spiderman">Spider-Man</a></li>
                <li><a href="/thor">Thor</a></li>
                <li><a href="/hulk">Hulk</a></li>
            </ul>
        </nav>
        <hr>
    </header>
